#root {
  max-width: 767px;
  min-height: 100vh;
  overflow-y: scroll;
}
.star {
  color: var(--accent-color);
}

h1 {
  padding-block: 1.5rem 1rem;
  background-color: var(--primary-color-transparent);
  text-align: center;
  width: 100%;
  border-bottom: 2px solid /* var(--accent-color) */ #fff;
}
