* {
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 62.5%;
}

:root {
  --bg-color-dark: #23aae4;
  --bg-color-light: #a2e3ff;
  --heading-color: #22277b;
  --font-color-light: #ffffff;
  --font-color-dark: #22277b;
  --font-color-done: #9395aa;
  --accent-color: #e90b0f;
  --accent-color-light: #fb9394;
  --secondary-color-light: #ffffff;
  --secondary-color-dark: #dcecee;
  --primary-color: #22277b;
  --primary-color-transparent: #22267b1b;
}

body {
  font-family: "SourceSansProReg";
  font-size: 1.8rem;
  color: var(--font-color-dark);
  background-image: linear-gradient(
    var(--bg-color-dark) 60%,
    var(--bg-color-light)
  );
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
  min-height: 100vh;
}

/* fonts ******************************************************************************/

@font-face {
  font-family: SourceSansProReg;
  src: url(./fonts/SourceSansPro-Regular.woff2);
}

@font-face {
  font-family: SourceSansProSemibold;
  src: url(./fonts/SourceSansPro-Semibold.woff2);
}

@font-face {
  font-family: RibeyeMarrow;
  src: url(./fonts/RibeyeMarrow-Regular.woff2);
}

h1 {
  font-family: "RibeyeMarrow";
  color: var(--heading-color);
  font-size: 3.2rem;
  line-height: 2.1;
}

h2 {
  font-family: "RibeyeMarrow";
  color: var(--heading-color);
  font-size: 2.2rem;
  line-height: 2.1;
}

input {
  appearance: none;
  height: 56px;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  border: 2px solid transparent;
  font-size: 1.8rem;
  min-width: 70%;
  width: 80%;
  filter: drop-shadow(0px 2px 2px #22277bb3);
}

.inputLabel {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

input:focus {
  outline: 1px solid var(--accent-color-light);
}
li {
  list-style: none;
}
.hiddenElement {
  opacity: 0;
  position: absolute;
}
.basicWrapper {
  padding-inline: 2rem;
}
